/* nav part */
.william{
    background-color: #FFF;
    margin: 0px;
}

.nav-container{
    display: flex;
    gap: 550px;
    margin-left: 120px;
    padding-top: 30px;
    background-color: #FFFFFF;
}

.nav-img{
    display: flex;
    gap: 20px;
}
.nav-img1{
    width: 86.041px;
height: 40px;
flex-shrink: 0;
}
.nav-h1{
    text-align: center;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: -8px;
}
.g{
    color: #ff42a5;
}
.nav-button p a{
    text-decoration: none;
    border: none;
    color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.nav-button{
    display: flex;
    gap: 20px;
}

/* banner part */
.banner{
    display: flex;
    gap: 300px;
    margin-top: 50px;
    margin-left: 80px;
    /* background-color: #FFFFFF; */
}
.banner-h3{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-left: -20px;
}
.banner-h1{
    text-align: center;
font-family: Work Sans;
font-size: 70px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-left: -40px;
}
.banner-p{
    color: #534C64;
/* text-align: center; */
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
margin-left: 40px;
}
.banner-button1{
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: none;
margin-left: 40px;
}
.banner-button2{
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
border: none;
}
.banner-button{
    display: flex;
    gap: 10px;
} 
.banner-leatter{
    margin-top: 80px;
}

/* body part */
  .body-part1{
    display: flex;
    /* background-color: #FFFFFF; */
    margin-top: 100px;
  }
  .body-letter{
    text-align: right;
    margin-right: 50px;
    margin-top: 100px;
  }
  .first-h1{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }
  .first-p{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
padding-left: 170px;
  }
  .first-b{
color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: none;
  }
  .first-h3{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 45px; /* 187.5% */
  }

  /* body 2nd part */
  .body-part2{
    margin-top: 100px;
    display: block;
text-align: center;
  
  }
  .second-h1{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
  }
  .a{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .second-p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  /* 3rd body part */
  .body-part3{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 70px;
    margin-left: 80px;
    margin-right: 80px;
  }
  .third-p{
    color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px;
  }



/* body part 4 */
/* .forth-img{
    margin-left: -1000px;
} */
.body-part4{
    display: flex;
    justify-content: space-around; 
    margin-top: 100px;
    margin-right: 100px;
}
.forth-letter{
    text-align: right;
    margin-right: 300px;
    margin-left: 150px;
    margin-top: 200px;
}
.forth-h2{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.forth-h1{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
.forth-p{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.forth-img{
    margin-left: 615px;
    margin-top: -300px;
}

.e{
    display: flex;
    gap: 30px;
}
.e p{
    color: #0B0223;
font-family: Work Sans;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.body-part5 :hover{
    border: 3px solid tomato;
    border-radius: 30px;
   /* padding-left: 5px; */
   margin-right:auto;
}
.body-part5{
    display: grid;
    column-gap: 80px;
    row-gap: 50px;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 100px;
    margin-left: 120px;
    margin-right:60px ;
}
.body-part5 .e :hover{
    border: none;
}

/* footer file */
.footer{
    display: block;
    margin-top: 100px;
    background: #0B0223;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
/* .g{
    color: #ff42a5;
} */
.footer1{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer2{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer3{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.footer4{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.nav-img11{
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
}
.nav-h11{
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -8px;
    color: #FFF;
}
.footer2 p{
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.footer4 p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer5{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
/* .nav-link{
    display: flex;
    gap: 30px;
    border: 1px solid #0B0223;
    border-radius: 50px;
    padding: 20px;
} */

/* media quarry */
.z{
    width: 40px;
    height: 40px;
}

@media screen and (max-width:556px) {
    .nav-img{
        margin-left: -30px;
        margin-top: 50px; 
    } 
    .nav-container{
        display: block;
    }
    .nav-button{
        display: block;
        margin-left: 50px;
    }
    .banner{
        display: block;
    }
    .banner img{
        width: 320px;
        height: 320px;
        margin-left: -20px;
        margin-top: 50px;
    }
    .banner-button{
        margin-left: -50px;
    }
    .banner-button1{
        font-size: 15px;
       
    }
    .banner-button2{
        font-size: 15px;
    }
    .banner-h3{
        margin-left: -80px;
    }
    .banner-p{
        margin-left: 10px; 
    }
    .banner-h1{
        margin-left: -80px;
    }

    .body-part1 img{
        width: 422px;
        height: 300px;
    }
    .body-part1{
        display: block;
        margin-top: 50px;
    }
    .first-h1{
        margin-right: 0px;
    }

    /* .body-part1 .body-letter .first-h1{
        margin-left: -80px;
    } */
  .body-letter{
   margin-right: 75px;
   margin-top: -20px;
  }
  .first-p{
    text-align: center;
    padding-left: 50px;
    padding-right: 0px;
  }
  .first-b{
    text-align: 0px;
    margin-right: 30px;
  }
  .first-h3{
    margin-left: 15px;
    margin-right:-10px;
  }
  .body-part2  {
    margin-left: 10px;
    margin-right: 50px;
    font-size: 15px;
  }
  .body-part2 p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
  }
  .body-part3{
    display: block;
    margin-left: 40px;
  }
  .third-p{
    font-size: 15px;
    margin-left: 70px;
  }

  .body-part4{
    display: block;
  }
   .b{
    width: 350px;
    height: 350px;
    margin-left: 35px;
   }
    .forth-letter{
    margin-left: 0px;
    margin-right: 0px;
   }
   .forth-h1{
    
    
    margin-left: 25px;
    margin-right: 0px;
   }
   .forth-p{
    margin-right: 10px;
    margin-left:20px ;
   }
   .forth-h2{
    margin-left: 25px;

   }
   .forth-letter{
    margin-left: 20px;
    margin-right:-30px ;
   }
   .b{
    margin-left: 50px;
   }
   .forth-img{
    width: 150px;
    height: 150px;
    margin-left: 3px;
   }
   .body-part5{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    margin-left: 30px;
    gap: 20px;
    margin-right: 20px;
   }
   .e p{
    font-size: 10px;
   }
   .e{
    display: block;
    gap: 0px;
   }
   .footer2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 20px;
    padding-right: 20px;
   }
   .footer3{
    margin-top: 30px;
   }
   .footer4{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px ;
   }
   .footer5{
    font-size: 10px;
    margin-top: 50px;
   }


}